
.banner{
  width: 100%;
  height: 350px;

}

.namecontainer{
  position: absolute;
  text-align: center;
  left:300px;
  top: -80px;

}
.name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(230, 190, 12);
  border-style: 1px solid black;
  text-shadow:  5px 5px 5px black;
  font-style:normal;
  font-weight: 800;
  font-size: 80px;
  text-align: center;
}

.logoContainer{
  position: absolute;
  left:510px;
  top: 70px;
  
}

.logoContainer img{
  width: 300px;
  height: 300px;
}



.contactContainer{
  position: absolute;
  text-align: center;
  right: 45px;
  top: 40px;
  color:rgb(230, 190, 12) ;
  text-shadow: black 2px 2px 2px;
  font-weight: bold;
  font-size: 20px;
  text-decoration:wavy;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 15px;
  size: auto;

}

.card{
  display: flex;
  margin-inline:70px;
  flex-direction: row;
  text-align: start;
  background-color: rgb(252, 249, 237);
  box-shadow: 20px black;
  padding: 15px;
  border-radius: 10px;
}



.imageCard{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  padding: 10px;
}

.btn{
  background-color: black;
  color: white;
}

.description{
  margin-inline: 80px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contactForm{
  background-color: rgba(236, 194, 79, 0) blur(5px);
  margin: 50px;
  border-radius: 5px;
  padding: 20px;
  border: solid 1px black;
  font-size: 35px;
  font-weight: 700;
}

.inputContainer{
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  width: 500px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

.textarea {
  border: none;
  outline: none;
  border-radius: 15px;
  width: 500px;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  
}

.select{
 width: 525px; 
 margin: 30px;
 height: 50px;
 border-radius: 15px;
 background-color: #ffffff;
 color: rgb(0, 0, 0);
}

.submitContainer{
  margin: 20px;
}

.box {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
 
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}

.box:hover:before {
  border-color: rgb(24, 79, 116);
  height: 100%;
  transform: translateX(0);
  transition: .2s transform linear, .2s height linear .3s;
}

.box:hover:after {
  border-color: rgb(24, 79, 116);
  height: 100%;
  transform: translateX(0);
  transition: .2s transform linear, .2s height linear .3s;
}

button {
  color: rgb(230, 190, 12);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  
}



.footer{
  display: grid;
  grid-template-columns: auto;
  background-color: rgb(24, 79, 116);
  padding:20px;
  color: white;
  font-size: medium;
}

.footer div{
  margin: 15px;
  font-weight: 600;
}


@media (max-width: 1163px){


  .banner{
    height: 160px;
    filter: blur(2px)
  }

  .namecontainer{
    position: absolute;
    left: 0px;
    top: -50px;
   
  }

  .name{
    font-size: 50px;
    font-weight: 900;
  }

  .logoContainer{
    left:0px;
    top: 0px;
    
  }
  
  .logoContainer img{
    width: 80px;
    height: 80px;
  }

  .contactContainer{
    position:absolute;
    right: 165px;
    top: 129px;
  }

  .description{
    margin-inline: 30px;
    
  }

  .card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-inline: 15px;
  }

  .imageCard{
    justify-content: center;
    align-items: center;
  }
  .input{
    width: 150px;
    height: auto;
  }
  .select{
    width: 150px;
  }

  .textarea{
    width: 150px;
    height: 200px;
  }

  .footer{
    grid-template-columns: auto;
    padding: 10px;
    text-align: center;
  }
}