.navbar{
  background-color: rgba(5, 105, 163, 0.781);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-content: center;
  align-items: center;
  justify-content:center;
  padding-inline: 60px;
  margin: 0px;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;
}

.banner{
  width: 100%;
  height: 300px;
  overflow: hidden;
  filter: blur(1px);
}

.namecontainer{
  position: absolute;
  text-align: center;
  left:300px;
  top: 55px;

}
.name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(230, 190, 12);
  border-style: 1px solid black;
  text-shadow:  5px 5px 5px black;
  font-style:normal;
  font-weight: 800;
  font-size: 80px;
  text-align: center;
}


.container{
  display: flex;
  flex-direction: column;
  margin: 15px;
  size: auto;

}

.card{
  display: flex;
  margin-inline:70px;
  flex-direction: row;
  text-align: start;
  background-color: rgb(252, 249, 237);
  box-shadow: 20px black;
  padding: 15px;
  border-radius: 10px;
}



.imageCard{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  padding: 10px;
}

.btn{
  background-color: black;
  color: white;
}

.description{
  margin-inline: 80px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.footer{
  background-color: rgb(24, 79, 116);
  text-align: start;
  padding: 10px;
  padding-left: 25px;
  color: white;
  font-size: medium;
}



@media (max-width: 720px){

  .navbar{
    padding: 0px;
  }
  .navname{
    visibility: hidden;
  }


  .banner{
    height: 130px;
    filter: blur(2px)
  }

  .namecontainer{
    position: absolute;
    left: 20px;
    top: 100px;
  }
  .name{
    font-size: 60px;
    font-weight: 900;
  }

  .description{
    margin-inline: 30px;
    
  }

  .card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-inline: 15px;
  }

  .imageCard{
    justify-content: center;
    align-items: center;
  }
}